---
layout: default
section: all
---
<div class="container">
<h2>All Titles</h2>
<ul class="list-group">
    {% for item in site.categories.title limit:400 %}
    <a href="{{site.baseurl}}{{item.url}}" class="list-group-item row"><div class="row">
        <div class="col-md-6"> <img style="width:100%" src="{{site.baseurl}}/{{site.prose.media}}/{{item.cover}}">
             <h4> {{item.title}} by {{item.author}}</h4>

            <p class="list-group-item-text">{{item.description}}</p>
      <!--       {% for collection in site.categories.collection %}
                  {% if collection.permalink == item.collection %}
                 <a href="{{site.baseurl}}/{{collection.url}}"><em>{{collection.title}}</em></a>
                  {% endif %}
            {% endfor %} -->
        </div>
        </a>
    {% endfor %}
</ul>
</div>
