---
layout: default
section: index
---
<div class="row-fluid">
<div class="banner-image"  style="background-image: url(https://guidetokulchur.files.wordpress.com/2014/11/1231251_613270395237_1644316492_n.jpg)">

</div>
</div>
<div class="container">
  <div class="row">
        <div class="col-md-5">
          <h1>GTK Press</h1>
          <p>{{site.about}}</p>
          <button class="btn btn-default">Learn More >></button>
          <h2>We Are Very Busy!</h2>

          <ul class="list-group">
          {% for item in site.categories.collection limit:400 %}
            <a href="{{site.baseurl}}{{item.url}}" class="list-group-item">
                  <h4 class="list-group-heading"> {{item.title}} <span class="fa fa-arrow-right pull-right"></span></h4>
                  <p class="list-group-item-text">{{item.description}}</p>
              </a>
          {% endfor %}

          </ul>
      </div>
      <div class="col-md-7">
          <h2>New Releases</h2>
          <ul class="list-group">
                {% for item in site.categories.title limit:400 %}
                <a href="{{site.baseurl}}{{item.url}}" class="list-group-item row">
                    <div class="col-md-4"><img style="width:100%" src="{{site.baseurl}}/{{site.prose.media}}/{{item.cover}}"></div>
                    <div class="col-md-8">
                        <h4> {{item.title}} {% if item.author %} by {{item.author}} {% endif %}</h4>
                        <p class="list-group-item-text">{{item.description}}</p>
                    </div>
                </a>
                {% endfor %}
            </ul>
      </div>

  </div>
</div>
