---
layout: default
section: index
title: 'Literature and Theory from the Margins'
---
{% assign curr_date = site.time | date: "%Y-%m-%d" %}
<div class="row-fluid">
<div class="banner-image"  style="background-image: url({{site.baseurl}}/{{site.prose.media}}/{{site.defaultcover}})">

</div>
</div>
<div class="container">
  <div class="row">
        <div class="col-md-5">
          <h1>GTK Press</h1>
          <p>{{site.about}}</p>
<!--           <button class="btn btn-default">Learn More >></button> -->
          <h2>We Are Very Busy!</h2>

          <ul class="list-group">
          {% for item in site.categories.collection limit:400 %}
            <a href="{{site.baseurl}}{{item.url}}" class="list-group-item">
                  <h4 class="list-group-heading"> {{item.title}} <span class="fa fa-arrow-right pull-right"></span></h4>
                  <p class="list-group-item-text">{{item.description}}</p>
              </a>
          {% endfor %}

          </ul>
      </div>
      <div class="col-md-7">
          <h2>New Releases</h2>
          <div class="list-group">
                {% for item in site.categories.title limit:12 | sort: 'releasedate', 'last' %}
                {% if item.releasedate <= curr_date %}
                <a href="{{site.baseurl}}{{item.url}}" class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                      {% if item.cover%}
                      <img style="width:100%" src="{{site.baseurl}}/{{site.prose.media}}/{{item.cover}}">
                      {% else %}
                      <img src="{{site.defaultphoto}}" style="width:100%" />
                      {% endif %}
                      </div>
                    <div class="col-md-8">
                        <h4> {{item.title}} {% if item.author %} by {{item.author}} {% endif %}</h4>
                        <p class="list-group-item-text">{{item.description}}</p>
                    </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <h2>Upcoming Releases</h2>
            <div class="list-group">
                {% for item in site.categories.title limit:12 | sort: 'releasedate', 'last' %}
                {% if item.releasedate >= curr_date %}
                <a href="{{site.baseurl}}{{item.url}}" class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                      {% if item.cover%}
                      <img style="width:100%" src="{{site.baseurl}}/{{site.prose.media}}/{{item.cover}}">
                      {% else %}
                      <img src="{{site.defaultphoto}}" style="width:100%" />
                      {% endif %}
                      </div>
                    <div class="col-md-8">
                        <h4> {{item.title}} {% if item.author %} by {{item.author}} {% endif %}</h4>
                        <p class="list-group-item-text">{{item.description}}</p>
                    </div>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
      </div>

  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.1/isotope.pkgd.min.js"></script>
<script src="{{site.basurl}}/titles.js"></script>
