h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.navbar-default {
    margin-bottom:0;
}

.panel-title {
    font-size: 24px;
}

.panel-title .fa {
    margin-right: 6px;
}

.center-block {
    width: 50%;
}

.fa {
    color: #d30d20;
}

.fa-star {
    color: #d30d20;
}

.banner-image {
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;
    display: inline-table;
    width:100%;
    margin-bottom: 2em;
}
.banner-image-overlay {
  opacity:.1;
  background-color:black;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.banner-image-overlay, .banner-image, body article.page .banner-image {
  height: 300px;
}

@media only screen and (min-width: 500px) {
  .banner-image-overlay, .banner-image, body article.page .banner-image {
    height: 420px;
  }
}

h2.banner-title {
    display: table-cell;
    vertical-align: middle;
    height:420px;
    font-size: 7em;
    color:white;
    margin: 0 auto;
    text-shadow: 1px 1px 1px;
}

.list-group {
  font-size: 15px;
  font-weight: 300;
}
