---
---

h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.navbar-default {
    margin-bottom: 0;
}

.panel-title {
    font-size: 24px;
}

.panel-title .fa {
    margin-right: 6px;
}

.center-block {
    width: 50%;
}

.fa {
    color: #d30d20;
}

.fa-star {
    color: #d30d20;
}

.banner-image {
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    display: inline-table;
    width: 100%;
    margin-bottom: 2em;
    z-index: 100;
    position: relative;
}

.banner-image-overlay {
    opacity: .4;
    background-color: black;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    position: absolute;
    z-index: 200;
    width: 100%;
}

.banner-image-overlay,
.banner-image,
body article.page .banner-image {
    height: 300px;
}

@media only screen and (min-width: 500px) {
    .banner-image-overlay,
    .banner-image,
    body article.page .banner-image {
        height: 420px;
    }
}

.banner-overlay-wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45px;
    height: 420px;
    display: table;
    z-index: 200;
}

.banner-title {
    display: table-cell;
    vertical-align: middle;
    color: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 300;
}

.banner-title h2 {
    font-size: 7em;
    color: white;
    text-shadow: 1px 1px 1px;
}

.banner-title div {
    margin: 40px 10px;
    font-size: 15px;
}

.banner-title div p {
    font-size: 24px;
}

.list-group {
    font-size: 15px;
    font-weight: 300;
}

body > .container {
    margin-bottom: 120px;
}

footer {
    height: 200px;
    color: white;
    background-color: #333333;
    bottom: 0;
    position: relative;
    width: 100%;
}

footer div {
    padding: 40px;
}

.navbar {
    z-index: 500;
}

#PPMiniCart {
    z-index: 600;
}


.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:100%;
}


.list-group-item {
    border: 0 none;
}

body.section-all .list-group-item {
    height:650px;

}

pre {
  display: block;
  padding: 20px;
  margin: 0 0 10.5px;
  font-size: 17px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  color: #444444;
  background-color: transparent;
  border: 0 none;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0 none;
}
