h1,
h2,
h3,
h4,
h5,
.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.navbar-default {
    margin-bottom:0;
}

.panel-title {
    font-size: 24px;
}

.panel-title .fa {
    margin-right: 6px;
}

.center-block {
    width: 50%;
}

.fa {
    color: #d30d20;
}

.fa-star {
    color: #d30d20;
}

.banner-image {
    max-height:320px;
    min-width:100%;
}
