<footer class="container-fluid">
  <div class="container text-center">

    <p><a target="_blank" href="http://guidetokulchurcleveland.com">Main Website</a> | <a href="https://www.facebook.com/GuideToKulchurCleveland">Facebook</a> | <a href="mailto:kulchurcollaborative@gmail.com">Email</a></p><p></p>
    <p>Have questions about payment or shipping? View our <a href="{{site.baseurl}}/policies">Online Store Policies</a></p>
     <p>All content &copy; 2013-2015 Kulchur Collaborative, LLC. All Rights Reserved.</p>
  </div>
</footer>
