---
layout: default
---
<div class="banner-image" style="background-image:url('{{site.baseurl}}/{{site.prose.media}}/{{page.cover}}')">
</div>
<div class="banner-overlay-wrapper">
  <div class="banner-image-overlay">

  </div>
  <div class="banner-title">
      <h2 >{{page.title}}</h2>
      <div>
          <p>{{page.description}}</p>
      </div>
  </div>
</div>

<div class='container'>
    <div class="row">
        <div class="col-md-4 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>About {{page.title}}</h4>
          </div>
          <div class="panel-body text-justify">
            {{content}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Submissions</h4>
          </div>
          <div class="panel-body">
            {{page.submissioninfo}}
            <p>Address submissions to {{page.submissionemail}}</p>
            <a href="mailto:{{page.submissionemail}}" class="btn btn-primary">Submit to the {{page.title}}</a>
          </div>
        </div>


        </div>
        <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% if page.collectiontype == "journal" %}
            <h4>Issues</h4>
            {% else if page.collectiontype == "series" %}
            <h4>Available Titles</h4>
            {% endif %}
            </div>
            <ul class="list-group">
                {% for item in site.categories.title limit:400 %}
                  {% if item.collection == page.permalink %}
                  <a href="{{site.baseurl}}{{item.url}}" class="list-group-item row">
                      <div class="col-md-4"><img style="width:100%" src="{{site.baseurl}}/{{site.prose.media}}/{{item.cover}}"></div>
                      <div class="col-md-8">
                          <h4> {{item.title}} {% if item.author %}by {{item.author}}{% endif %}</h4>
                          <p class="list-group-item-text">{{item.description}}</p>
                      </div>
                  </a>
                  {% endif %}
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>
