---
layout: default
---
{% assign curr_date = site.time | date: "%Y-%m-%d" %}
{% assign item_label = "Titles" %}
{% if page.collectiontype == "journal" %}
{% assign item_label = "Issues" %}
{% endif %}
{% assign books = site.categories.title | limit:12 | where:"collection",page.permalink %}
<div class="banner-image" style="background-image:url('{{site.baseurl}}/{{site.prose.media}}/{{page.cover}}')">
</div>
<div class="banner-overlay-wrapper">
  <div class="banner-image-overlay">

  </div>
  <div class="banner-title">
      <h2 >{{page.title}}</h2>
      <div>
          <p>{{page.description}}</p>
      </div>
  </div>
</div>

<div class='container'>
    <div class="row">
        <div class="col-md-4 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>About {{page.title}}</h4>
          </div>
          <div class="panel-body text-justify">
            {{content}}
          </div>
        </div>
        {% if page.submissionslink %}
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{site.baseurl}}/{{page.submissionslink}}" class="btn btn-primary">Submit to the {{page.title}}</a>
          </div>
        </div>
        {% endif %}
        </div>
        <div class="col-md-8">
            <h2>Available {{item_label}}</h2>
             <div class="list-group">
                {% for item in books %}
                  <a href="{{site.baseurl}}{{item.url}}" class="list-group-item">
                    <div class="row">
                      <div class="col-md-4">
                      {% if item.cover %}
                      <img style="width:100%" src="{{site.baseurl}}/{{site.prose.media}}/{{item.cover}}">
                      {% else %}
                      <img src="{{site.defaultphoto}}"style="width:100%;" />
                      {% endif %}
                      </div>
                      <div class="col-md-8">
                          <h4> {{item.title}} {% if item.author != nil and item.author != "" %}by {{item.author}}{% endif %}</h4>
                          <p class="list-group-item-text">{{item.description}}</p>
                      </div>
                    </div>
                  </a>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
