---
title: 'Literature and Theory from the Margins'
---
<!DOCTYPE html>
<html>
<head>
  <title>GTK Press {% if page.url != '/index.html' %} | {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" id="font-oswald-css" href="https://fonts.googleapis.com/css?family=Oswald" type="text/css" media="all">
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body class="{% if page.url != '/index.html' %}type-{{page.category}} {{page.permalink}}{% else %}home{% endif %}" >
  {% include nav.html %}
  {{content}}
  {% include footer.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.6/minicart.min.js"></script>
  <script src='{{site.baseurl}}/site.js'></script>
  <script>
    paypal.minicart.render();
    var cartItems = paypal.minicart.cart.items();
    cartItemsQuantity = 0
    for (var i = cartItems.length - 1; i >= 0; i--) {
      cartItemsQuantity += cartItems[i]._data.quantity;
    };
    console.log(cartItemsQuantity);
  </script>
</body>
