---
layout: default
section: titles
---

<div class='container'>
    <div class="row">
        <div class="col-md-5">
            <img class="thumbnail" src='{{site.baseurl}}/{{site.prose.media}}/{{page.cover}}' style="width:100%; margin-top:3em" />
            {% if page.instock %}
            <div class="well well-sm">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_cart" />
              <input type="hidden" name="add" value="1" />
              <input type="hidden" name="business" value="{{site.paypal.email}}" />
              <input type="hidden" name="item_name" value="{{page.title}} by {{page.author}}" />
              <input type="hidden" name="quantity" value="1" />
              <input type="hidden" name="amount" value="{{page.price}}" />
              <input type="hidden" name="currency_code" value="USD" />
              <input type="hidden" name="shipping" value="1.00">
              <h3>Order this title</h3>
              <div>${{page.price}} plus shipping</div>
              <input class="btn btn-primary" type="submit" name="submit" value="Add to cart" />
            </form>
            </div>
            {% else %}
            <p><strong>Currently out of stock</strong></p>
            {% endif %}
            {% if page.numinstock %}<p><strong># in stock:</strong> {{page.numinstock}}</p>{% endif %}
            {% if page.isbn %}<p><strong>ISBN:</strong> {{page.isbn}}</p>{% endif %}
            {% if page.numpages %}<p><strong># pages:</strong> {{page.numpages}}</p>{% endif %}
            {% if page.dimensions %}<p><strong>Dimensions:</strong> {{page.dimensions}}</p>{% endif %}
        </div>
        <div class="col-md-7">
            <div class='page-header'>
                <h1>{{page.title}}</h1>
                {% for collection in site.categories.collection %}
                  {% if collection.permalink == page.collection %}
                   {% if collection.collectiontype == 'series' %}
                    <p class="lead"> By {{page.author}} </p>
                   {% endif %}
                  {% endif %}
                {% endfor %}
                {% for collection in site.categories.collection %}
                  {% if collection.permalink == page.collection %}
                  <p class="lead"><a href="{{site.baseurl}}/{{collection.url}}"><em>{{collection.title}}</em></a></p>
                  {% endif %}
                {% endfor %}
                </h1>
            </div>
            <div class='main'>
                {{content}}
            </div>
        </div>
    </div>
</div>
