---
layout: default
section: titles
---

{% if page.cover %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}
{% endif %}

<div class='container'>
    <div class="row">
        <div class="col-md-5">
            <img class="thumbnail" src='{{site.baseurl}}/{{site.prose.media}}/{{page.cover}}' style="width:100%; margin-top:3em" />
        </div>
        <div class="col-md-7">
            <div class='page-header'>
                <h1>{{page.title}} By {{page.author}}</h1>
            </div>
            <div class='main'>
                {{content}}
            </div>
        </div>
    </div>
</div>


{% include rss-link.html %}
